# app credential
secret_key: '_0eyl14r#676+h0hz1d+atk#!0(76^%&%^bjgy^&z090'


# app config
debug: True
allowed_host: ['*']


# Database setup
db_engine: 'django.db.backends.type'
db_name: 'database'
db_user: 'user'
db_password: 'password'
db_port: 'port'


# Email Setups
_email: 'email'
_password: 'password'
smtp_server: "smtp.example.com"
smtp_port: 000
EMAIL_USE_TLS: True
EMAIL_USE_SSL: False
smtp_ssl_port: 000
receiver1: "receiver1"
receiver2: "receiver2"
secret: 'jwt_secret'
