{% extends 'crmManager/v1/partials/base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
    {% if messages %}
        {% include "sysManager/v1/partials/notification.html" %}
    {% endif %}

    
    <div class="tab">
        {% for leave in leave_requests %}
            <button class="tablinks leaves-flex leave{{leave.id}}" onclick="openCity(event, 'leave{{leave.id}}')" {% if forloop.first %} id="defaultOpen" {% endif %}>
                <div class="leave-img-container">
                    <img src="{{leave.picture}}" alt="{{leave.full_name}}">
                </div>
                <div class="leave-name">
                <p>{{leave.full_name}}</p>
                </div>
                <div class="leave-days">
                    {{leave.total_days}} Days
                </div>
            </button>
        {% endfor %}
    </div>

    {% for leave in leave_requests %}
        <div id="leave{{leave.id}}" class="tabcontent">
            <h3>{{leave.full_name}} has applied {% if leave.half_day %} Half Leave {% else %} leave {% endif %} of {% if leave.total_days < 1 %} a day. {% else %} {{leave.total_days}} days.{% endif %}</h3>
                <div class="leave-description">
                    <div class="leave-desc">
                        <label>Leave Reason</label>
                        <p>{{leave.leave_reason}}</p>
                    </div>
                </div>
                <div class="leave-days">
                    <div class="leave__">
                        <div class="days">
                            <h3>{% if leave.total_days < 1 %}Half{% else %}{{leave.total_days}}{% endif %}</h3>
                            <p>Total Days</p>
                        </div>
                        <div class="from">
                            <h4><b>{{leave.from_date}} - {{leave.to_date}}</b></h4>
                        </div>
                    </div>
                    <div class="short-leave">
                        <table class="table table-striped table-sm table-hover">
                            <tbody>
                                <tr>
                                    <td>Leave Type</td>
                                    <td>{{leave.leave_type}}</td>
                                </tr>
                                <tr>
                                    <td>Leave For</td>
                                    <td>{% if leave.half_day %} Half {% else %} Full {% endif %} Day Leave</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if leave.leave_on_holiday %}
                <div class="card-body">
                    {{leave.leave_on_holiday_reason}} So, {{leave.leave_on_holiday}}{% if leave.leave_on_holiday < 2 %} day  {% else %}days{% endif %} {% if leave.half_day %} (since half leave) {% endif %} is not declared and not deducted.
                </div>
                {% endif %}
                <div class="approve-leave">
                    <form method="POST" action="{% url 'approve_leave' %}">
                        {% csrf_token %}
                        <input type="hidden" name="lms_id" value="{{leave.id}}"/>
                        <button type="submit" class="btn btn-success btn-lg">Approve</button>
                    </form>
                </div>
                <div class="reject-leave">
                    <form method="POST" action="{% url 'reject_leave' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-10">
                                <textarea rows="5" col="5" class="form-control" name="reject_reason" placeholder="Reject Reason" required></textarea>
                            </div>
                            <div class="col-md-2">
                                <input type="hidden" name="lms_id" value="{{leave.id}}"/>
                                <button class="btn btn-danger" type="submit">Reject</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block js %}

{% if a %}
<script>
    document.getElementsByClassName(".leave{{a}}")[0].click();
</script>
{% endif %}

<script>

    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>

{% endblock js %}


{% for leave in leave_requests %}
<!-- Modal: Leave Details -->
<div class="modal fade" id="leaveDetails{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">  
        <form class="modal-content" method="POST" action="">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold mt0">{% if leave.half_day %} Half Leave for {{leave.multiplied}} {% if leave.multiplied < 2 %} day {% else %} days {% endif %} {% else %} {{leave.total_days}} {% if leave.total_days < 2 %} day {% else %} days {% endif %}  of Full Leave {% endif %}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px;margin-top:5px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="modal-img-c">
                            <img src="{{leave.picture}}" alt="{{leave.full_name}}">
                            <p>{{leave.full_name}</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label><b>Leave Reason</b></label>
                        <p class="small-font">
                            {{leave.leave_reason}}
                        </p>

                        <p><b>Leave Type:</b> {{leave.leave_type}}</p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron flex text-center" style="padding:6px; margin:0">
                            <div class="w30" style="border-right:1px solid burlywood">
                                <h2> {% if leave.total_days < 1 %}Half{% else %}{{leave.total_days}}{% endif %}</h2>
                                <span><b>Total Days</b></span>
                            </div>
                            <div class="w70">
                                <p class="center-all">{{leave.from_date}} - {{leave.to_date}}
                                    {% if leave.half_day %} (Half Day) {% endif %}
                                    
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
            <div class="row mb-2 ml-4 mr-4">
                {% csrf_token %}
                <label><b>Leave Response</b> (You can approve without any messages.)</label>
                <textarea class="form-control" placeholder="Please provide leave reason if it is to be REJECTED." name="reject_reason"></textarea>
            </div>
            <div class="row mb-2 ml-4">
                <div class="col-sm pull-left">
                    <button class="btn btn-sm btn-success mr-2" name="leave_response" value="1">Approve</button> 
                </div>
                <div class="col-sm pull-right">
                    <button class="btn btn-sm btn-danger"  type="submit" style="position:relative; left: 50%"  name="leave_response" value="2">Reject</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}
    <h5 class="mt-4 font-weight-bold">All Leave Requests</h5>
    {% if leave_requests %}
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="overflow-scroll d-sm-table table">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Total Days</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for leave in leave_requests %}
                                <tr {% if leave.notification %}style="border:1px solid red" {% endif %}>
                                    <td data-toggle="modal" data-target="#leaveDetails{{forloop.counter}}">{{forloop.counter}}</td>
                                    <td data-toggle="modal" data-target="#leaveDetails{{forloop.counter}}">{{leave.full_name}}</td>
                                    <td data-toggle="modal" data-target="#leaveDetails{{forloop.counter}}">{% for d in leave.department %}{{d}}{% if not forloop.last %}, {% endif %} {%endfor%}</td>
                                    <td data-toggle="modal" data-target="#leaveDetails{{forloop.counter}}">{{leave.total_days}}</td>
                                    <td data-toggle="modal" data-target="#leaveDetails{{forloop.counter}}">
                                        <button class="btn btn-sm custom-blue-outline" name="details">Details</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
    <p>No Leave Request...</p>
    {% endif %}