{% load static %}
<div class="sidebar" data-image="{% static 'crmManager/v1/assets/img/sidebar-5.jpg' %}">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        Tip 2: you can also add an image using data-image tag
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                {{company_name}}
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'crm_index' %}">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'hr_index' %}">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Human Resource</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'lms_index' %}">
                    <i class="nc-icon nc-notes"></i>
                    <p>Leave Management</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./typography.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Inventory Management</p>
                </a>
            </li>
            <li class="nav-item  active-pro">
                <a class="nav-link active" href="{% url 'help_support' %}">
                    <p>HELP & SUPPORT</p>
                </a>
            </li>
        </ul>
    </div>
</div>